body{
    margin: 0;
    
}
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
h1,h2,h3,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}




/* navigation */

.navigation{
    padding: 0 40px;
    height: 77px;
    
}

.navigation_wrapper{
    display: flex;
    justify-content: space-between;
        height: 100%;
}

.navigation_wrapper .logo{
    height: 100%;
    display: flex;
    align-items: center;
    
}
.navigation_wrapper .logo img{
    width: 51px;
    height: 51px;
    
}

.navigation_wrapper .navigation_links{
    display: flex;
    justify-content: space-between;
    width: 502px;
}

.navigation_wrapper .navigation_links li .nav_link{
    font-weight: 600;
    font-size: 16px;
    color: #2f3327;
    position: relative;
    z-index: 1;
    padding: 0 7px;
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
}




.navigation_wrapper .navigation_links li{
    position: relative;
}


.navigation_wrapper .navigation_links li .down_menu{
    position: absolute;
    top: 100%;
    left: -30px;
    background-color: #fff;
    width: 221px;
    z-index: 10;
    border: 1px solid #dbe3d2;
    display: none;
}

.navigation_wrapper .navigation_links li .down_menu ul{
    padding: 22px 0 23px 0;
}

.navigation_wrapper .navigation_links li .down_menu ul li{
    padding: 0 35px 0 37px;
}
.navigation_wrapper .navigation_links li .down_menu ul li a{
    margin: 9px 0;
    font-size: 14px;
    display: block;
    color: #90918d;
    transition: .2s;
}
.navigation_wrapper .navigation_links li .down_menu ul li a:hover{
    color: #000;
    transition: .2s;
}



.navigation_wrapper .navigation_links li .down_menu_shop,
.navigation_wrapper .navigation_links li .down_menu_store{
    position: fixed;
    width: 100%;
    top: 77px;
    left: 0;
    
    
}
.navigation_wrapper .navigation_links li .down_menu_shop_wrapper{
    display: flex;
    justify-content: center;
}

.navigation_wrapper .navigation_links li .down_menu_shop ul{
    padding: 53px 0;
    width: 325px;
}
.navigation_wrapper .navigation_links li .down_menu_shop ul span,
.navigation_wrapper .navigation_links li .down_menu_store ul span{
    font-weight: 600;
    font-size: 16px;
}
.navigation_wrapper .navigation_links li .down_menu_shop ul li,
.navigation_wrapper .navigation_links li .down_menu_store ul li{
    padding: 0;
}


.navigation_wrapper .navigation_links li .down_menu_store{
    padding: 53px 0;
   
}
.down_menu_store_wrapper{
    display: flex;
    justify-content: center;
}

.navigation_wrapper .navigation_links li .down_menu_store{
    display: none;
}
.navigation_wrapper .navigation_links li .down_menu_store ul{
    padding: 0;
}
.block_store_prod_wrapper{
    display: flex;
    margin-top: 23px;
}
.block_store_prod_wrapper .prod_wrapper_item{
    width: 257px;
    padding: 0 15px;
}
.block_store_prod_wrapper .prod_wrapper_item .img img{
    width: 100%;
}
.block_store_prod_wrapper .prod_wrapper_item .txt{
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
}
.block_store_prod_wrapper .prod_wrapper_item .txt .name_prod span{
    font-weight: 600;
    font-size: 17px ;
    color: #2f3327;
}

.block_store_prod_wrapper .prod_wrapper_item .txt .name_prod p{
    font-weight: 300;
    font-size: 13px;
    color: #80827e;
}
.block_store_prod_wrapper .prod_wrapper_item .txt .price_block .price{
    font-weight: 600;
    font-size: 17px;
    color: #2f3327;
}

.down_menu_store_wrapper .block_store_prod{
    margin-left: 145px;
}
.down_menu_store_wrapper .block_store_prod h2{
    font-weight: 600;
    font-size: 16px;
    color: #2f3327;
}





.down_menu .li_open{
    position: relative;
}
.down_menu .li_open a{
    display: flex;
    justify-content: space-between;
}

.down_menu .li_open .li_open_menu{
    position: absolute;
    right: -222px;
    top: -30px;
    background-color: #fff;
    width: 221px;
    display: none;
    
}

.down_menu .li_open .li_open_menu ul li{
    padding: 0 35px 0 37px;
}

.navigation_wrapper .navigation_links li .nav_link::before{
    content: "";
    width: 0;
    height: 13px;
    position: absolute;
    bottom: 25px;
    left: 0;
    background: #e9ebe7;
    z-index: -1;
    transition: .2s;
}
.navigation_wrapper .navigation_links li .nav_link:hover{
    color: #68745c;
    transition: .2s;
}
.navigation_wrapper .navigation_links li .nav_link:hover::before{
    width: 100%;
    right: 0;
    transition: .2s;
}
.navigation_wrapper .navigation_links li .nav_link.nav_link-active{
    color: #68745c;
}
.navigation_wrapper .navigation_links li .nav_link.nav_link-active::before{
    width: 100%;
}

.navigation_wrapper .user_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 188px;
}

.navigation_wrapper .user_info .login{
    color: #2f3327;
    font-size: 17px;
    font-weight: 600;
}
.navigation_wrapper .user_info .basket{
    width: 26px;
    height: 100%;
    position: relative;
    color: #2f3327;
}
.navigation_wrapper .user_info .basket .count_basket_prod{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 600;
    font-size: 13px;
    
  
}
/* navigation */




/*block_preview  */

.block_preview_slider,
.preview_slider_wrapper,
.preview_slider_item{
    width: 100%;
}

.preview_slider_item{
    position: relative;
}
.preview_slider_item img{
    width: 100%;
}
.preview_slider_item .txt{
    position: absolute;
    top: 35%;
    left: 15%;
    
}

.preview_slider_item .txt h2{
    color: #fff;
    font-size: 64px;
    font-weight: 600;
}

.preview_slider_item .txt a{
    color: #fff;
}


.preview_slider_item .txt p{
    font-family: 'Quentin';
    font-size: 44px;
    color: #fff;
    font-weight: 300;
}

#preview-arrow-prev{
    left: 30px;
}
#preview-arrow-next{
    right: 30px;
}
#preview-arrow-prev::after,
#preview-arrow-next::after{
    display: none;
}
#preview-arrow-prev img,
#preview-arrow-next img{
    filter: invert(1);
}
.preview_slider_item .txt a{
    display: inline-block;
    height: 60px;
    border: 1px solid #9ca896;
    padding: 20px 53px;
    position: relative;
}
.preview_slider_item .txt a::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #68745C21;
    position: absolute;
    top: 7px;
    right: -7px;
    transition: .3s;
}
.preview_slider_item .txt a:hover::before{
    top: 10px;
    right: -10px;
    transition: .3s;
}
.preview_slider_item_first .txt a{
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    margin-top: 20px;
}
.preview_slider_item_first .txt a::before{
    background-color: rgba(255, 255, 255, 0.145);

}
/* block_preview  */


/* featured_items */
.featured_items{
    padding-top: 100px;
}
.featured_items_container{
    max-width: 1300px;
    margin: 0 auto;
}
.featured_slider_wrapper{
    display: flex;
    justify-content: space-between;
}
.featured_items h2{
    font-size: 23px;
    font-weight: 600;
    color: #2f3327;
    margin-bottom: 17px;
}
.featured_items_product{
    width: 302px;
    position: relative;
    overflow: hidden;
}
.featured_items_product .sale,
.featured_items_product .new{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 10px 7px;
    display: block;
    font-weight: 600;
    font-size: 13px;
    color: #68745c;
    background-color: #fff;
}
.featured_items_product .quick_view{
    position: absolute;
    top: 40%;
    right: -83px;
    background-color: #fff;
    height: 37px;
    
    align-items: center;
    padding-right: 8px;
    transform: rotate(-90deg);
    
    
}

.featured_items_product .quick_view .quick_view_wrapper{
    display: flex;
    align-items: center;
    height: 100%;
}
.featured_items_product .quick_view a{
    padding: 0 18px 0 8px;
    font-weight: 600;
    font-size: 13px;
    color: #68745c;
    position: relative;
}
.featured_items_product .quick_view a::after{
    content: "";
    position: absolute;
    display: inline-block;
    background: #d1d5ce;
    width: 1px;
    height: 22px;
    top: 0px;
    right: 9px;
}
.featured_items_product .quick_view i{
    font-weight: 600;
    font-size: 13px;
    color: #68745c;
}

.featured_items_product .txt{
    display: flex;
    justify-content: space-between;
    padding: 24px 0 30px;
}


.featured_items_product .txt span{
    font-weight: 600;
    font-size: 17px;
    color: #2f3327;
    display: block;
}
.featured_items_product .txt p{
    font-size: 13px;
    font-weight: 300;
    color: #80827e;
}


.featured_items_product .txt .sale_price{
    font-weight: 600;
    font-size: 17px;
    color: #80827e !important;
}


.featured_items_product .txt .price_prod{
    overflow: hidden;
    position: relative;
    display: flex;
    width: 80px;
}
.featured_items_product_sale .txt .price_prod{
    width: auto;
}
.featured_items_product .txt .price_prod .add_cart_btn{
    transform: translateX(-100%);
    position: absolute;
    top: 0;
}


.featured_items_product .txt .price_prod .add_cart_btn a{
    font-weight: 600;
    font-size: 13px;
    color: #68745c;
    position: relative;
}

.featured_items_product .txt .price_prod .add_cart_btn a::before{
    content: "";
    width: 100%;
    height: 13px;
    position: absolute;
    bottom: -7px;
    left: 0;
    background: #e9ebe7;
    z-index: -1;
    transition: .2s;
}

#featured-prev::after,
#featured-next::after{
    display: none;
    opacity: 1 !important;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    opacity: 1;
}
#featured-prev,
#featured-next{
    top: 22px;
}
#featured-prev{
    right: 65px;
    left: auto;
}
.featured_slider{
    padding-top: 50px;
    margin-top: -50px;
}



